	/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  font: 13px/22px arial;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
 
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
  
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
	display: block;
	
    
    border-right: 1px solid #eee;
  }
  .navbar-collapse{
	width: 18%;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -16px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  color: #222;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.nav-sidebar > li > a.current {
  color: #12c3e9;
  font-weight: bold;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
.navbar{
	background: #fff;
	border-bottom: 1px solid #ccc;
}
#sidebar{
	overflow: auto !important;
	overflow-x: hidden !important;;
}
.no-padding .col-md-6, .no-padding .col-xs-6{
	padding: 0;
	margin-bottom: 10px;
}
.no-padding img{
	display: block;
	margin: 0 auto;
}
.no-padding a, .no-padding a span{
	text-align: center;
	display: block;
	margin: 0 auto;
	color: #222
}
.navbar-brand{
	padding-top: 8px;
}